venv
__pycache__
.DS_Store
*.egg-info
.ipynb_checkpoints
output
output.zip
source.zip
retrofitted_vectors_fromwiki.txt
hw1/analogy/output.zip
hw1/analogy/output/
hw1/analogy/source.zip
retrofit_new_vectors.txt
hw4/results/
hw4/prefopt/data/orpo.json
hw4/prefopt/data/train.out
hw4/prefopt/data/train.txt
hw4/prefopt/data/train_default.out
hw4/prefopt/data/train_merged.json
